Function for checking whether a number is even or odd

In [1]:
# Using a normal function
# defining the function
def check_even_odd_list(numbers):
    results = []
    for n in numbers:
        if n % 2 == 0:
            results.append(f"{n} is Even")
        else:
            results.append(f"{n} is Odd")
    return results

In [2]:
# Call the function
nums = [1, 2, 3, 10, 15,20,25,27,35,39,50]
check_even_odd_list(nums)

['1 is Odd',
 '2 is Even',
 '3 is Odd',
 '10 is Even',
 '15 is Odd',
 '20 is Even',
 '25 is Odd',
 '27 is Odd',
 '35 is Odd',
 '39 is Odd',
 '50 is Even']

In [3]:
# Using lambda
check_even_odd_list_lambda = lambda numbers: [f"{n} is Even" if n % 2 == 0 else f"{n} is Odd" for n in numbers]

In [4]:
#Calling the function
check_even_odd_list_lambda([4, 7, 12, 15,28,23,25])

['4 is Even',
 '7 is Odd',
 '12 is Even',
 '15 is Odd',
 '28 is Even',
 '23 is Odd',
 '25 is Odd']

In [5]:
#Using Pandas
import pandas as pd

nums = [1, 2, 3, 10, 15,20,25,28]
pd.DataFrame({"Number": nums, "Result": check_even_odd_list_lambda(nums)})

   Number      Result
0       1    1 is Odd
1       2   2 is Even
2       3    3 is Odd
3      10  10 is Even
4      15   15 is Odd
5      20  20 is Even
6      25   25 is Odd
7      28  28 is Even